.barra-black{
    background-color: black;
}

.sony{
    height: 20px;
    
}

.barra-nav {
    background-color: rgba(44, 62, 80, 255);
    color: white;
}

.returnal{
    background-image: url(./img/jumbo-bg.png);
    height: 80vh;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 20px;
    padding-top:200px;
}


.it-takes-two{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 100px;
    padding-left: 20px;
}

.console-playstation{
    padding-top: 80px;
}

.blu{
    color: blue;
}

.logo-it-takes-two{
    width: 30%;
}