.barra-black{
    background-color: black;
}

.sony{
    height: 20px;
    
}

.barra-nav {
    background-color: rgba(44, 62, 80, 255);
    color: white;
}

.returnal{
    background-image: url(./img/jumbo-bg.png);
    height: 80vh;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

.it-takes-two{
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-returnal{

}

.blu{
    color: blue;
}