.barra-black{
    background-color: black;
}

.sony{
    height: 20px;
    
}

.barra-nav {
    background-color: rgba(44, 62, 80, 255);
    color: white;
}

.returnal{
    background-image: url(./img/returnal-listing-thumb-01-ps5.jpg);
    height: 500px;
    background-size: cover; 
    background-repeat: no-repeat;

}